body{
    background-color: #f8fafd;
    font-family: 'Inter', sans-serif;
    color: #252525;
    padding: 2rem;
}

main{
    max-width: 780px; /*cresce até 780px*/
    margin: 0 auto; /*para que não fique colado na esquerda*/
}

.hero{
    text-align: center;
    padding-bottom: 3rem;
}
.hero .titulo{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom:1.5rem;
}
.hero .subtitulo{
    font-size: 1.125rem;
    color: #828282;
}
/*-------------------------------------------*/
.box {
    background: #fff; /*cor branca*/
    box-shadow: 0 1px 2px rgba(132, 148, 165, 0.8);/*rgba sãs as cores mais alpha que significa porcentagem da transparência*/
    border-radius: 8px;
    margin-bottom: 3rem;
}
.senha {
    display: flex; /*coloca todos na mesma linha*/
    align-items: center; /* centraliza na vertical */
    padding: 1rem 1.5rem; /* horizontal, vertical */
}
.senha .senhaTexto{
    flex: 1; /*vou fazer ela ter toda largura e espremer o restante para o canto*/
}
.senha .senhaTexto input{
    font-family: "Inconsolata", serif;
    font-size: 3rem;
    border: none;
    outline: none;
    cursor: default; /* tira o cursor de texto*/
    height: 52px; /* altura do texto */
    width: 100%; /* largura máxima para ele crescer conforme a div*/
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}
.senha .acoes button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;    
}
/* barra de segurança*/
.indicadorSeguranca {
    height: 10px;
    background-color: #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.indicadorSeguranca .barra{
    height: 10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.2s;
}
.indicadorSeguranca .barra .completed{
    border-top-right-radius: 0px;
}
.indicadorSeguranca .barra .critical{
    background-color: #eb5757;
}
.indicadorSeguranca .barra .warning{
    background-color: #f2c94c;
}
.indicadorSeguranca .barra.safe{
    background-color: #27ae60;
}


/*-------------------------------------------*/