body{
    background-color: #f8fafd;
    font-family: 'Inter', sans-serif;
    color: #252525;
    padding: 2rem;
}

main{
    max-width: 780px; /*cresce até 780px*/
    margin: 0 auto; /*para que não fique colado na esquerda*/
}

.hero{
    text-align: center;
    padding-bottom: 3rem;
}
.hero .titulo{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom:1.5rem;
}
.hero .subtitulo{
    font-size: 1.125rem;
    color: #828282;
}
/*-------------------------------------------*/
.box{
    background: #fff; /*cor branca*/
    box-shadow: 0 1px 2px rgba(132, 148, 165, 0.8);/*rgba sãs as cores mais alpha que significa porcentagem da transparência*/
    border-radius: 8px;
    margin-bottom: 3rem;
}
.senha {
    display: flex; /*coloca todos na mesma linha*/
    align-items: center; /* centraliza na vertical */
    padding: 1rem 1.5rem; /* horizontal, vertical */
}
.senha .senhaTexto{
    flex: 1; /*vou fazer ela ter toda largura e espremer o restante para o canto*/
}
.senha .senhaTexto input{
    font-family: "Inconsolata", serif;
    font-size: 3rem;
    border: none;
    outline: none;
    cursor: default; /* tira o cursor de texto*/
    height: 52px; /* altura do texto */
    width: 100%; /* largura máxima para ele crescer conforme a div*/
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}
.senha .senhaTexto input.font-sm{
    font-size: 2rem;
}
.senha .senhaTexto input.font-xs{
    font-size: 1.5rem;
}
.senha .senhaTexto input.font-xxs{
    font-size: 1rem;
}
.senha .acoes button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;    
}
/* barra de segurança*/
.indicadorSeguranca {
    height: 10px;
    background-color: #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.indicadorSeguranca .barra{
    height: 10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.2s; //efeito de transição enquanto a barra se move
}
.indicadorSeguranca .barra.completed{
    border-top-right-radius: 0;
}
.indicadorSeguranca .barra.critical{
    background-color: #eb5757;
}
.indicadorSeguranca .barra.warning{ 
    background-color: #f2c94c;
}
.indicadorSeguranca .barra.safe{
    background-color: #27ae60;
}
/* ------------------------------------------- */
.customizar {
    padding: 1rem 1.5rem;
}
.customizar .titulo{
    border-bottom: 1px solid #f0f0f0; /* o traço que fica abaixo do título */
    padding-bottom: 0.75rem; /* espaçamento do traço */
    margin-bottom: 2rem; /* espaçamento depois do traço */
    font-size: 1.75rem;
    font-weight: bold;
}
.customizar .acoes{
    display: flex;
    gap: 3rem; 
    color: #828282
}
.customizar .senhaTamanho{
    flex: 1; /* espaçar a barra deslizante o máximo possivel*/
}
.customizar .senhaTamanho .slider{
appearance: none;
-webkit-appearance: none;
height: 10px;
background: #dddddd;
outline: none;
border-radius: 8px;
width: 100%;
opacity: 0.7;
transition: opacity 0.2s;
margin-top: 1rem;
}
.customizar .senhaTamanho .slider:hover{/* customizando bola do slider */
    opacity: 1; /* quando passa o mouse por cima */
}
.customizar .senhaTamanho .slider::-webkit-slider-thumb{/* customizando bola do slider */
    /* webkit para atender navegadores que usam o rendereizador do goole (chrome,ie,edge) */
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #9b51e0;
  cursor: pointer;
}
.customizar .senhaTamanho .slider::-moz-range-thumb {/* customizando bola do slider */
    /* moz para atender navegadores o rendereizador da mozila (firefox)*/
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #9b51e0;
    cursor: pointer;
}
.checkboxContainer{
    display: block; /* para criar um bloco (label + checkbox)*/
    position: relative; /* para ficar um abaixo do outro */
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer; /* mudar o cursor para o que ta dentro do bloco */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkboxContainer input{ /* para esconder o checkbox */
    /* checkbox nao aceita trabalhar com propriedades, então vamos criar um span para fazer o papel dele depois */
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
}
.checkboxContainer .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width:25px;
    background-color: #dddddd;
    transition: all 0.2;
}
.checkboxContainer:hover input ~ .checkmark{
    /* se tiver vazio vai colorir de cinza */
    background-color: #cccccc;
}
.checkboxContainer input:checked ~ .checkmark{
    /* se tiver vazio vai colorir de roxo */
    background-color: #9b51e0;
}
.checkboxContainer .checkmark:after{
    /* simular uma seta de checado no checkbox */
    content: "";
    display: none;
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.checkboxContainer input:checked ~ .checkmark:after{
    display:block;
}
/* ------------------------------------------- */
.copiar2 { /*CENTRALIZA O BOTAO NA TELA*/
    text-align: center;
}
.copiar2 button{
    background-color: #bb6bd9;
    font-size: 1.375rem;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 1rem 2rem;
    transition all 0.2;
}
.copiar2 button:hover{
    background-color: #9b51e0;
}
/* ------------------------------------------- */
/* criar estilo para ficar responsivo */
/* abaixo de 480 de largura usar este estilo */
@media only screen and (max-width: 480px){
    .senha {
        padding: 1rem;
    }
    .senha .senhaTexto input{
        font-size: 1.5rem;
    }
    .senha .senhaTexto input.font-sm{
        font-size: 1.2rem;
    }
    .senha .senhaTexto input.font-xs{
        font-size: 1rem;
    }
    .senha .senhaTexto input.font-xxs{
        font-size: 1rem;
    }
    .senha .acoes img{ /* tamanho dos botoes ao lado da senha */
        width: 24px;
    }
} 